<%= render 'shared/error_messages', object: @post %>

<div class="row">
	<div class="col-12">
		<div class="card">
      <div class="card-header bg-info">
        <% if @post.new_record? %>
          <h4 class="m-b-0 text-white">Add new Post</h4>
        <% else %>
          <h4 class="m-b-0 text-white">Edit Post</h4>
        <% end %>
      </div>
			<div class="card-body">
        <br/>
        <%= form_for [:admin, @post], html: {  help: :block }, html: { multipart: true } do |f| %>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :title, 'Title' %>
                <%= f.text_field :title, required: true, class: 'form-control' %>
                <small>Title will be displayed based on language selected</small>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :content, 'Content' %>
                <%= f.cktext_area :content,  cols: 40, ckeditor: { language: 'us' } , required: true, class: 'form-control' %>
                <small>Name will be displayed based on language selected</small>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :category, 'Category' %>
                <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: 'Choose a category' }, required: true, class: 'form-control') %><br>
                <small>Name will be displayed based on language selected</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :cover, 'Cover' %>
                <%= f.file_field :cover, class: 'form-control' %>
                <small>Cover will be displayed based on language selected</small>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.submit 'Submit', class: 'btn btn-lg btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
	$(function() {
		$(".select2").select2();
  });
</script>
